# Dependencies
node_modules

# Build output
dist

# Logs
logs
*.log

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Data
data/whois-servers.json 